/* Arrow Navigation Styling */
.swiper-button-prev,
.swiper-button-next {
  color: white; /* change to your preferred color */
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px;
  font-weight: bold;
}

/* You can also adjust hover states */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #d41367;
  transition-duration: 400ms;
}

/* Pagination dots (bottom indicator) */
.swiper-pagination-bullet {
  background: #ccc;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #d41367; /* Tailwind orange-500 */
}